{{ define "main" }}
  <script defer language="javascript" type="text/javascript"  src="/js/index.js"></script>
  <main class="parto">
    {{ $asset := resources.Get "/monke.mp4" }}
    {{ $asset2 := resources.Get "/landscape2.jpg" }}
    {{ $imge := resources.Get "/monke.mp4" }}
    {{ $assetland := resources.Get "/landscape.jpg" }}
    {{ $placehold1 := resources.Get "/slider-placeholder1.png" }}
    {{ $placehold2 := resources.Get "/slider-placeholder2.png" }}
    <div id="vantaback1"></div>
    <section class="first_block" id="vant">




                    <div class="part">
                      <div class="hello">

                        <h1 class="helloh">ЦЕНТР КОМПЬЮТЕРНОГО ЗРЕНИЯ
                        </h1>
                     <!-- {{ range first 1 .Site.RegularPages }}
                          {{ .Render "summary" }}
                      {{ end }} <script src="/examples/libs/ui-components/itc-slider/itc-slider.js" defer></script>-->
                    </div>
                    </div>

    </div>
    </section>

  <section class="second_block">
  <div class="vanta-back2-container">
      <div id="vantaback2"></div>
    </div>
    <div class="article_block"></div>
    <div class="article_block"></div>
    <div class="article_block"></div>
    <div class="article_block"></div>
    <div class="article_block"></div>
    <div class="article_block"></div>


    </section>
  <div class="third_block">
    <div id="block-for-slider">
      <div id="viewport">
          <ul id="slidewrapper">
              <li class="slide"><img src="{{ $placehold1.RelPermalink }}" alt="1" class="slide-img"></li>
              <li class="slide"><img src="{{ $placehold2.RelPermalink }}" alt="2" class="slide-img"></li>
              <li class="slide"><img src="https://hsto.org/files/ec5/592/f1e/ec5592f1e814401eb38305682a8e88d4.jpg" alt="3" class="slide-img"></li>
              <li class="slide"><img src="https://hsto.org/files/eda/61a/3c5/eda61a3c53db408d820643998d9acd81.jpg" alt="4" class="slide-img"></li>
          </ul>

          <div id="prev-next-btns">
              <div id="prev-btn"></div>
              <div id="next-btn"></div>
          </div>

          <ul id="nav-btns">
              <li class="slide-nav-btn"></li>
              <li class="slide-nav-btn"></li>
              <li class="slide-nav-btn"></li>
              <li class="slide-nav-btn"></li>
          </ul>
      </div>
  </div>
  </div>

  <div class="fourth_block">
    <div onclick="location.href='/projects'"class="boxer" href="/projects">
      <div class="btn btn-three3">
        Blog
      </div>
    </div>


  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



  <script src="/js/cdnjs.cloudflare.com_ajax_libs_three.js_r134_three.min.js"></script>
  <script src="/js/vanta.globe.min.js"></script>
  <script src="/js/vanta.dots.min.js"></script>
  <script src="/js/vanta-controller.js"></script>
  <script src="/js/slider.js"></script>
  </main>
{{ end }}
